NODE_ENV=development
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:5023
BETTER_AUTH_URL=http://localhost:5023
BETTER_AUTH_SECRET=change-me-to-a-secure-random-string
DATABASE_URL=postgresql://postgres:change-me-to-hash@localhost:5432/fast_next_template_dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-to-hash
POSTGRES_DB=fast_next_template_dev
POSTGRES_PORT=5432
